[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==1.8.4"
yapf = "==0.29.0"

[packages]
CherryPy = ">=3,<9"
pycurl = "==7.43.0.5" 
importlib = "*" 
pbr = "*" 
html = "*" 
requests = "*"
bottle = "==0.12.8"
pymongo = ">=3.0.3"
arrow = "==0.17.0"
passlib = "*"
ldap3 = "*"

[requires]
python_version = "2.7"
